* {
    margin:  0;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: baseline;
    font-size: 100%;
}


body {
    width: 100%;
    color: $black;
    font-family: $ff-s;
    line-height: 1.6;
    background: $white;
    font-size: .875rem;

    @include mq {
        font-size: 1.125rem;

    }
        
}

.wrapper {
    margin: 0 auto;
}

h1, h2, p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    color: $black;
    margin: 0.5em 4%;
    font-family: $ff-ss;

    span {
        color: $white;
        line-height: 0.5S;
        font-size: 4.125rem;
    }
}

h2 {
    font-size: 2rem;
    color: $grey;
    line-height: 1;
    font-family: $ff-s;
}

.gradient {

background: -webkit-linear-gradient(132deg, rgb(93, 193, 163), rgb(46, 44, 109));
background: linear-gradient(132deg, rgb(93, 193, 163), rgb(46, 44, 109));

}

.pagesize {
    height: 100vh;
    display: flex;
}