.intro {
    height: 100vh;
    align-items: center;
    justify-content: center;


    p {
        color: $black;
        margin: 0.5em 4%;
        padding: 10px;
    }

    .information {
        padding: 50px;
    }
    

    .video {
        margin-top: 50px;

        h1 {
            font-size: 2.8rem;
            justify-content: center;
            align-items: center;
            color: $white;
            padding: 50px;
        }
    }
}

.svg-character {
    height: 50vh;
    float: left;
    margin-left: 100px;
    padding: 50px;
}
